<h1>Welcome to my web site</h1>
<hr />
<table class="table table-bordered table-hover" >
    @for (int i = 1; i <= 10; i++)
    {
        <tr>
            <td>@ViewBag.Message</td>
        </tr>
    }
</table>